[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = {extras = ["base"], version = "2.3.1"}
kivy-examples = "2.3.1"
buildozer = "*"

[dev-packages]

[requires]
python_version = "3.12"
